<h1>welcome</h1>


<a routerLink="/home">HOME</a>
<!--it will jump; to app rouing.ts and search for /home-->
<br>

<button type="submit" routerLink="/contactus">contact</button>



<ul>
    <li> <a  routerLink="/home">home</a></li>
    <li> <a routerLink="/contactus">conatct us</a></li>
    <li> <a routerLink="/about">about</a> </li>
    <li> <a routerLink="/home">back to home</a> </li>
    <li> <a routerLink="/callnow">call us now</a> </li>
</ul>

<router-outlet></router-outlet>
<!-- place holder-->
