

<body>
 
    <h2 class="text-center">Cart Page</h2>
    <button (click)="getall()">Get Restaurants</button>
    <!-- {{response|json}}
    <h6>{{response}}</h6> -->
    <div *ngIf="response && response.length > 0">
      <table border="1" class="table table-bordered">
        <!-- Table headers -->
        <!-- {{response|json}} -->
        <thead>
          <tr>
            <th>restaurantId</th>
            <th>restaurantName</th>
            <th>cuisineType</th>
            <th>location</th>
            <th>rating</th>
            

          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          <tr *ngFor="let admin of response">
            <td>{{ admin.restaurantId }}</td>
            <td>{{ admin.restaurantName }}</td>
            <td>{{ admin.cuisineType }}</td>
            <td>{{ admin.location }}</td>
            <td>{{ admin.rating }}</td>
        
            <!-- Start of inner loop -->
            <td *ngFor="let Id of admin.customers; let i = index">
              {{ admin.customers[i].customerId }}
            </td>
            <!-- End of inner loop -->
        
          </tr>
        </tbody>
        
      </table>
    </div>




    <br>
<br>
<div  class="text-center" >
  <button (click)="addForm()" class="btn btn-success " >Add Restaurants</button>
</div>
<div *ngIf="isaddFormVisible" class="container  col-lg-4">
  <form   #formData=ngForm  (ngSubmit)="add(formData)" >


    <div class="form-group">
     restaurantName:<input type="text" class="form-control" name="restaurantName"  required  #restaurantName="ngModel"  ngModel>
      <span style="color:red"  *ngIf="restaurantName.touched && restaurantName.invalid" >restaurantName is required</span>
    </div>

    <div class="form-group">
        cuisineType:<input type="text" class="form-control" name="cuisineType"  required  #cuisineType="ngModel"  ngModel>
         <span style="color:red"  *ngIf="cuisineType.touched && cuisineType.invalid" >cuisineType is required</span>
       </div>


       <div class="form-group">
        location:<input type="text" class="form-control" name="location"  required  #location="ngModel"  ngModel>
         <span style="color:red"  *ngIf="location.touched && location.invalid" >location is required</span>
       </div>

       <div class="form-group">
        rating :<input type="number" class="form-control" name="rating"  required  #rating="ngModel"  ngModel>
        <span style="color:red"  *ngIf="rating.touched && rating.invalid" >rating is required</span>
      </div>
    
      <!-- <div class="form-group">
        customerIds:<input type="text" class="form-control" name="customerId"  required  #customerId="ngModel"  ngModel>
         <span style="color:red"  *ngIf="customerId.touched && customerId.invalid" >customerId is required</span>
       </div> -->




    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid"  >Submit</button>
  </form>
</div>
<br>

    
    
<br>
<br>
<div class="text-center">
<button (click)="deleteForm()" class="btn btn-success">Delete Restaurants</button>
</div>

<div *ngIf="isdeleteFormVisible">
<div  class="form-group">
  <label for="deleteId">Enter ID to Delete:</label>
  <input type="number" class="form-control" name="deleteId" [(ngModel)]="deleteId" required>
</div>

<!-- Modify the delete button to call the deleteById method with the entered ID -->
<button type="button" class="btn btn-danger" (click)="deleteById()">Delete</button>
</div>

<br>
<br>


<div class="text-center">
  <button (click)="updateForm()" class="btn btn-success ">Update Restaurants</button>
</div>
<div *ngIf="isupdateFormVisible" class="container  col-lg-4">
  <form   #formData=ngForm  (ngSubmit)="update(formData)" >
    
      
    <!-- restaurantId:0,
    restaurantName:restaurantName,
    cuisineType:cuisineType,
    locations:locations,
    rating:rating -->

    <div class="form-group">
        restaurantId :<input type="number" class="form-control" name="restaurantId"  required  #restaurantId="ngModel"  ngModel>
      <span style="color:red"  *ngIf="restaurantId.touched && restaurantId.invalid" >restaurantId is required</span>
    </div>



    <div class="form-group">
        restaurantName:<input type="text" class="form-control" name="restaurantName"  required  #restaurantName="ngModel"  ngModel>
         <span style="color:red"  *ngIf="restaurantName.touched && restaurantName.invalid" >restaurantName is required</span>
       </div>


       <div class="form-group">
        cuisineType:<input type="text" class="form-control" name="cuisineType"  required  #cuisineType="ngModel"  ngModel>
         <span style="color:red"  *ngIf="cuisineType.touched && cuisineType.invalid" >cuisineType is required</span>
       </div>

       <div class="form-group">
        location:<input type="text" class="form-control" name="location"  required  #location="ngModel"  ngModel>
         <span style="color:red"  *ngIf="location.touched && location.invalid" >location is required</span>
       </div>

       <div class="form-group">
        rating :<input type="number" class="form-control" name="rating"  required  #rating="ngModel"  ngModel>
      <span style="color:red"  *ngIf="rating.touched && rating.invalid" >rating is required</span>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid"  >Update</button>

    
       

    
    
  </form>  
</div>




  </body>
  
  