

  <body>
 
    <h2 class="text-center">Cart Page</h2>
    <button (click)="getall()">Get Cart</button>
    
    <div *ngIf="response && response.length > 0">
      <table border="1" class="table table-bordered">
        <!-- Table headers -->
        <!-- {{response|json}} -->
        <thead>
          <tr>
            <th>cartId</th>
            <th>customerId</th>
            <th>restaurantId</th>
            <th>price</th>
            <th>quantity</th>
            <th>total</th>
            <th>itemId</th>
            
            


           



          </tr>
        </thead>
        <!-- Table body -->
        <tbody>
          <tr *ngFor="let admin of response">
            <td>{{ admin.cartId }}</td>
            <td>{{ admin.customers.customerId }}</td>
            <td>{{ admin.restaurants.restaurantId }}</td>
            <td>{{ admin.price }}</td>
            <td>{{ admin.quantity }}</td>
            <td>{{ admin.total }}</td>
            <!-- <td>{{ admin.menuItems.menuItemId }}</td> -->
            <!-- <td><ng-container *ngFor="let menuItem of admin.menuItems; let last = last">
              {{ menuItem.menuItemId }}{{ last ? '' : ', ' }}
          </ng-container></td> -->
          <td><ng-container *ngFor="let menuItem of admin.menuItems; let last = last">
            {{ menuItem.menuItemId }}{{ last ? '' : ', ' }}
          </ng-container></td>
            
            
            
          </tr>
        </tbody>
      </table>
    </div>




    <br>
<br>
<div class="text-center">
  <button (click)="addForm()" class="btn btn-success ">Add Cart</button>
</div>
<div *ngIf="isAddFormVisible" class="container  col-lg-4">
  <form   #formData=ngForm  (ngSubmit)="add(formData)" >


    <div class="form-group">
      customerId :<input type="number" class="form-control" name="customerId"  required  #customerId="ngModel"  ngModel>
      <span style="color:red"  *ngIf="customerId.touched && customerId.invalid" >customerId is required</span>
    </div>

    
    <div class="form-group">
    
      restaurantId :<input type="number" class="form-control" name="restaurantId"  required  #restaurantId="ngModel"  ngModel>
    <span style="color:red"  *ngIf="restaurantId.touched && restaurantId.invalid" >restaurantId is required</span>
  </div>


  <div class="form-group">
    
    itemId :<input type="text" class="form-control" name="itemId"  required  #itemId="ngModel"  ngModel>
    <!-- itemId :<input type="text" class="form-control" name="itemId" required [(ngModel)]="formData.itemId" /> -->

  <span style="color:red"  *ngIf="itemId.touched && itemId.invalid" >itemId is required</span>
</div>



<div class="form-group">
    
  price :<input type="number" class="form-control" name="price"  required  #price="ngModel"  ngModel>
<span style="color:red"  *ngIf="price.touched && price.invalid" >price is required</span>
</div>


<div class="form-group">
    
  quantity :<input type="number" class="form-control" name="quantity"  required  #quantity="ngModel"  ngModel>
<span style="color:red"  *ngIf="quantity.touched && quantity.invalid" >quantity is required</span>
</div>



<div class="form-group">
    
  total :<input type="number" class="form-control" name="total"  required  #total="ngModel"  ngModel>
<span style="color:red"  *ngIf="total.touched && total.invalid" >total is required</span>
</div>



<!-- <div class="form-group">
    
  orderId :<input type="number" class="form-control" name="orderId"  required  #orderId="ngModel"  ngModel>
<span style="color:red"  *ngIf="orderId.touched && orderId.invalid" >orderId is required</span>
</div> -->




    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid"  >Submit</button>
  </form>
</div>
<br>

    
    
<br>
<br>
<div class="text-center">
<button (click)="deleteForm()" class="btn btn-success">Delete cart</button>
</div>

<div *ngIf="isDeleteFormVisible">
<div  class="form-group">
  <label for="deleteId">Enter ID to Delete:</label>
  <input type="number" class="form-control" name="deleteId" [(ngModel)]="deleteId" required>
</div>

<!-- Modify the delete button to call the deleteById method with the entered ID -->
<button type="button" class="btn btn-danger" (click)="deleteById()">Delete</button>
</div>

<br>
<br>


<div class="text-center">
  <button (click)="updateForm()" class="btn btn-success ">Update Cart</button>
</div>
<div *ngIf="isUpdateFormVisible" class="container  col-lg-4">
  <form   #formData=ngForm  (ngSubmit)="update(formData)" >
    
      


    <div class="form-group">
      cartId :<input type="number" class="form-control" name="cartId"  required  #cartId="ngModel"  ngModel>
      <span style="color:red"  *ngIf="cartId.touched && cartId.invalid" >cartId is required</span>
    </div>




    <div class="form-group">
    
      customerId :<input type="number" class="form-control" name="customerId"  required  #customerId="ngModel"  ngModel>
      <span style="color:red"  *ngIf="customerId.touched && customerId.invalid" >customerId is required</span>
    </div>


    <div class="form-group">
    restaurantId :<input type="number" class="form-control" name="restaurantId"  required  #restaurantId="ngModel"  ngModel>
      <span style="color:red"  *ngIf="restaurantId.touched && restaurantId.invalid" >restaurantId is required</span>
    </div>


    




    <div class="form-group">
      itemId :<input type="number" class="form-control" name="itemId"  required  #itemId="ngModel"  ngModel>
      <span style="color:red"  *ngIf="itemId.touched && itemId.invalid" >itemId is required</span>
    </div>
    




    <div class="form-group">
      price :<input type="number" class="form-control" name="price"  required  #price="ngModel"  ngModel>
      <span style="color:red"  *ngIf="price.touched && price.invalid" >price is required</span>
    </div>
    




    <div class="form-group">
      quantity :<input type="number" class="form-control" name="quantity"  required  #quantity="ngModel"  ngModel>
      <span style="color:red"  *ngIf="quantity.touched && quantity.invalid" >quantity is required</span>
    </div>
    




    <div class="form-group">
      total :<input type="number" class="form-control" name="total"  required  #total="ngModel"  ngModel>
      <span style="color:red"  *ngIf="total.touched && total.invalid" >total is required</span>
    </div>
    




    <!-- <div class="form-group">
      orderId :<input type="number" class="form-control" name="orderId"  required  #orderId="ngModel"  ngModel>
      <span style="color:red"  *ngIf="orderId.touched && orderId.invalid" >orderId is required</span>
    </div> -->
    
    
    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid"  >Submit</button>
  </form>  
</div>




  </body>
  
  